<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
  <!-- UI Tests -->
  <appSettings>
    <add key="SitecoreContentAuthoringLoginUrlMaster" value="http://sitecore.test.local/sitecore/shell/Applications/Content%20Editor.aspx?sc_bw=1" />
    <add key="SitecoreEnvironmentValidationUsername" value="admin" />
    <add key="SitecoreEnvironmentValidationPassword" value="b" />
    <add key="SitecoreContentAuthoringLoginWeb" value="http://sitecore.test.local/sitecore/shell/Applications/Content%20Editor.aspx?sc_bw=1?sc_content=web"/>
  </appSettings>
</configuration>